cffi==1.15.0
cloudpickle==2.0.0
Cython==0.29.28
glfw==2.5.2
gym==0.21.0
hydra-core==1.1.2
joblib==1.1.0
mlflow==1.24.0
opencv-python-headless==4.5.5.64
optuna==2.10.0
protobuf==3.20.1
stable-baselines3==1.1.0
tqdm==4.63.1
wandb==0.12.14
highway-env==1.4
